<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
       
    <bean id="jndiApplicationPropertiesLocation" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="defaultObject" value="classpath:person.properties"/>
        <property name="expectedType" value="java.lang.String"/>
        <property name="jndiName" value="config/personPropertiesLocation"/>
        <property name="resourceRef" value="true"/>
    </bean>
    
    

    <util:properties id="appProperties"
                     location="#{jndiApplicationPropertiesLocation}"/>
  
    <bean id="propertyPlaceholderConfigurator"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
        	<list>
        		<value>#{jndiApplicationPropertiesLocation}</value>        		
        	</list>
        </property>
    </bean>
</beans>